* {
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

header {
    flex-shrink: 0;
    height: 120px;
}

main {
    flex: 1 0 auto;
    padding-top: 15px;
}

footer {
    flex-shrink: 0;
    height: 188px;
    background-image: url('../images/lock.png');
}

@media screen and (max-width: 800px) {}